@font-face {
  font-family: "OldEnglish";
  src: url('/OLD.ttf');
   /* font-weight: normal; */
  /* font-style: normal;  */
}
 /* @font-face {
  font-family: "OldEnglish";
  src: url('/OldEnglishTextMT-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "OldEnglish";
src: url('/OldEnglishTextMT-Oblique.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'OldEnglish';
  src:url('/OldEnglishTextMT-BoldOblique.ttf');
  font-weight: bold;
  font-style: italic;
}  */
html, body {
  margin: 0; padding: 0
}

button {
  font-family: "Roboto", Helvetica, Arial;
  border: 1px solid #222;
  background: gray;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

button:active,
button:hover,
.orange {
  background: orangered;
}

button:focus {
  outline: none;
}

label.myLabel input[type='file'] {
  position: absolute;
  top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
  font-family: "Roboto", Helvetica, Arial;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  background: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 10px;
  cursor: pointer;
}
.myLabel:hover {
  background: #ccc;
}
.myLabel:active {
  background: #ccf;
}
.myLabel :invalid + span {
  color: #a44;
}
