
button {
  font: inherit;
  border: 1px solid #222;
  background: gray;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

button:active,
button:hover,
.orange {
  background: orangered;
}

button:focus {
  outline: none;
}

label.myLabel input[type='file'] {
  position: absolute;
  top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
  font: inherit;
  border: 1px solid #222;
  background: gray;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}
.myLabel:hover {
  background: #ccc;
}
.myLabel:active {
  background: #ccf;
}
.myLabel :invalid + span {
  color: #a44;
}
