@font-face {
  font-family: "test";
  src: url("/OERegular.ttf");
}
@font-face {
  font-family: "test";
  src: url("/OERegular-Bold.ttf");
  font-weight: bold;
}
/* @font-face {
  font-family: "DejaVu Sans";
  src: url("fonts/DejaVuSans-Oblique.ttf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("fonts/DejaVuSans-BoldOblique.ttf");
  font-weight: bold;
  font-style: italic, oblique; */
/* } */
.normal{font-family: 'test';font-weight: normal;font-size: 100px;}
.bold{font-family: 'test'; font-weight: bold; font-size: 100px;}
button {
  font: inherit;
  border: 1px solid #222;
  background: gray;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

button:active,
button:hover,
.orange {
  background: orangered;
}

button:focus {
  outline: none;
}

label.myLabel input[type='file'] {
  position: absolute;
  top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
  font: inherit;
  border: 1px solid #222;
  background: gray;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}
.myLabel:hover {
  background: #ccc;
}
.myLabel:active {
  background: #ccf;
}
.myLabel :invalid + span {
  color: #a44;
}
